<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sidebar bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Northwind Admin</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
            <li class="nav-item w-100">
                <a href="/admin/dashboard" class="nav-link align-middle px-0">
                    <i class="bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li class="w-100">
                <a href="/admin/productos" class="nav-link px-0 align-middle">
                    <i class="bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Productos</span>
                </a>
            </li>
            <li class="w-100">
                <a href="/nuevo-producto" class="nav-link px-0 align-middle">
                    <i class="bi-plus-circle"></i> <span class="ms-1 d-none d-sm-inline">Crear Producto</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown pb-4">
            <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                <i class="bi-box-arrow-left me-2"></i> Salir
            </a>
        </div>
    </div>
</div>